
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 3fr 1fr;
    
}

.inside {
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-width: 1px;
    margin : 10px;

}
header{
    grid-row: 1; 
    grid-column: 1/5;
    justify-content: center;
    align-items: center;
}
main{
    grid-column: 2/5;
    grid-row: 2;
}
.resultDiv{
    margin:10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    max-width: fit-content;
}

.resultDiv p{
    margin:0;
}

aside{
    grid-column: 1;
    grid-row: 2;
}
footer{
    grid-row: 3;
    grid-column: 1/5;
}
header ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;

}
li{
    padding :0 75px;
}
header h1{
    text-align: center;
}

aside img{
    width: 100%;
}

@media (max-width: 500px){
    header ul{
        flex-direction: column;
        align-items: left;
    }
    li{
        padding: 5px 25px;
    }
    main{
        grid-column: 1/5;
    }
    sideBar{
        grid-row: 3;
    }
    footer{
        grid-column: 2/5;
    }
}
